yfinance~=0.2.65
requests~=2.32.4
pandas~=2.3.1
ta~=0.11.0
numpy~=2.3.1
transformers~=4.53.2
pandas
requests
numpy
scikit-learn
aiohttp
schedule
pyyaml
matplotlib
tqdm
telebot
colorama
rich
python-telegram-bot~=22.2
pytest
pytest-cov
pytz
bcrypt>=4.1.2
stripe>=8.0.0
python-dotenv>=1.0.0
flask==2.3.2
gunicorn==21.2.0
# TradeNet_AI/requirements.txt
waitress
flask
stripe
gunicorn
python-dotenv
